<div class="media" style="padding-bottom: 20px;">
  <div class="media-left">
      <img
        class="media-object"
        src="http://image.tmdb.org/t/p/w396/<%= @movie_data['poster_path'] %>"
        width="200">
      </img>
  </div>
  <div class="media-body">
    <h1 class="media-heading"><%= @movie_data['title'] %> (<%= @movie_data['release_date'][0..3] %>)</h4>
    <p><%= @movie_data['genres'][0]['name'] %></p>
    <p><%= @movie_data['overview'] %></p>
    <p>(<%= @movie_data['runtime'] %> minutes)</p>
  </div>
</div>

<form class="review-compose form-inline">
  <input
    type="hidden"
    name="review[movie_id]"
    value="<%= @movie_data['id'] %>">

  <input
    type="hidden"
    name="review[movie_title]"
    value="<%= @movie_data['title'] %>">

  <div class="form-group">
    <label>Email
      <input class="form-control" type="text" name="review[email]">
    </label>
  </div>
  <div class="form-group">
    <label>Rating
      <select class="form-control" name="review[rating]">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
      </select>
    </label>
    <button type="submit" class="btn btn-default">Add Review</button>
  </div>
</form>

<h3>Reviews</h3>
<% if @reviews.empty? %>
  <p>[No reviews yet]</p>
<% end %>
<ul class="movie-show-reviews">
  <% @reviews.each do |review| %>
    <li><i><%= review.email %></i>
      (<%= time_ago_in_words(review.created_at) %> ago)
      <% review.rating.to_i.times do %>
      <span class="glyphicon glyphicon-star" style="color: yellow;"></span>
      <% end %>
    </li>
  <% end %>
</ul>

<script type="text/javascript">
  $(function () {
    $('form.review-compose').reviewCompose();
  })
</script>
