<%= link_to "Home", root_url %>

<h1><%= @movie_data['title'] %></h1>
<img
  src="https://image.tmdb.org/t/p/w396/<%= @movie_data['poster_path'] %>"
  width="200">
<p><%= @movie_data['overview'] %></p>

<h2>Add Review</h2>
<form class="review-compose">
  <input
    type="hidden"
    name="review[movie_id]"
    value="<%= @movie_data['id'] %>">
  <label>Email
    <input type="text" name="review[email]">
  </label>
  <label>Rating
    <select name="review[rating]">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
    </select>
  </label>
  <input type="submit">
</form>

<h2>Reviews</h2>
<% if @reviews.empty? %>
  <p>[No reviews yet]</p>
<% end %>
<ul>
  <% @reviews.each do |review| %>
    <li>Email: <%= review.email %> | Rating: <%= review.rating %></li>
  <% end %>
</ul>

<script type="text/javascript">
  $(function () {
    $('form.review-compose').reviewCompose();
  })
</script>
